html {
    scroll-behavior: smooth;
}

.jumbo-background {
    background-color: #D5FFE7;
}

.jumbo-background1 {
    background-color: #F4DAFE;
}

.jumbotron {
    margin-bottom: 0;
}

.card-title {
    margin-bottom: 0;
}

section {
    margin-bottom: 0;
}

.card {
    margin-bottom: 1em;
}

.link {
    margin-bottom: 0.75em;
}
